@mixin heading($font-size) {
  margin-top: 0;
  font-size: $font-size;
}

// TODO feedback: head-btn-variant和form-btn-variant代码是一样的，其实mockup上这俩的padding也是一样的，所以其实这两个mixin可以成一个
@mixin head-btn-variant($color, $bg-color) {
  color: $color;
  background-color: $bg-color;
  border-color: $primary-color;
  padding: 8px 35px;
  border-radius: 80px;
}

@mixin form-btn-variant($color, $bg-color) {
  color: $color;
  background-color: $bg-color;
  border-color: $primary-color;
  padding: 2% 0;
  border-radius: 80px;
}
